In [1]:
library(dplyr)

pop_us = read.table(file = "../tablas/pop_us.csv", 
                    sep = ',', header = T)
pop_Simple <- select(pop_us, c(SEX, AGE, POPESTIMATE2010, POPESTIMATE2014))

names(pop_Simple) <- c('SEX', 'AGE', 'pop_2010', 'pop_2014')

percent <- function(x, digits = 2, format = "f", ...) {
  paste0(formatC(100 * x, format = format, digits = digits, ...), "%")
}

pop_Simple <- mutate(pop_Simple, Cambio = pop_2014 - pop_2010, 
                     Crecimiento = percent((pop_2014/pop_2010)^(1/4) - 1))

head(pop_Simple)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

  SEX AGE pop_2010 pop_2014 Cambio  Crecimiento
1 0   0   3951330  3948350    -2980 -0.02%
2 0   1   3957888  3962123     4235 0.03%
3 0   2   4090862  3957772  -133090 -0.82%
4 0   3   4111920  4005190  -106730 -0.66%
5 0   4   4077552  4003448   -74104 -0.46%
6 0   5   4064653  4004858   -59795 -0.37%

In [2]:
hombres <- filter(pop_Simple, SEX == 1, AGE != 999)
mujeres <- filter(pop_Simple, SEX == 2, AGE != 999) 
mujeres[1:10, ] # mas niños de 6 años, recesión 2008. https://www.wsj.com/articles/u-s-birthrate-hits-turning-point-1434513662

   SEX AGE pop_2010 pop_2014 Cambio Crecimiento
1  2   0   1932910  1930493   -2417 -0.03%
2  2   1   1937556  1938870    1314 0.02%
3  2   2   2002177  1935270  -66907 -0.85%
4  2   3   2010648  1956572  -54076 -0.68%
5  2   4   1993240  1959950  -33290 -0.42%
6  2   5   1988080  1961391  -26689 -0.34%
7  2   6   1993603  2024024   30421 0.38%
8  2   7   1979908  2031760   51852 0.65%
9  2   8   1971142  2014402   43260 0.54%
10 2   9   2018378  2009560   -8818 -0.11%

## Encontrar la edad con la mayoría de mujeres en el 2014.

http://www.wsj.com/articles/u-s-birthrate-hits-turning-point-1434513662

In [3]:
head(arrange(mujeres, desc(pop_2014)))

# la fila:
filter(mujeres, pop_2014 == max(mujeres$pop_2014))

# Para la edad:
filter(mujeres, pop_2014 == max(mujeres$pop_2014))$AGE

  SEX AGE pop_2010 pop_2014 Cambio Crecimiento
1 2   54  2196798  2331961  135163 1.50%
2 2   53  2268457  2316131   47674 0.52%
3 2   24  2082209  2301237  219028 2.53%
4 2   23  2066126  2298701  232575 2.70%
5 2   51  2289164  2283261   -5903 -0.06%
6 2   52  2283408  2282051   -1357 -0.01%

  SEX AGE pop_2010 pop_2014 Cambio Crecimiento
1 2   54  2196798  2331961  135163 1.50%

[1] 54

In [4]:
head(arrange(mujeres, desc(Crecimiento)))

  SEX AGE pop_2010 pop_2014 Cambio Crecimiento
1 2   100   45058    58468   13410 6.73%
2 2    64 1414220  1826662  412442 6.61%
3 2    67 1423561  1832245  408684 6.51%
4 2    71 1050351  1350392  300041 6.48%
5 2    66 1381541  1758649  377108 6.22%
6 2    65 1405839  1776761  370922 6.03%

In [5]:
arrange(hombres, desc(pop_2014))[1:20,]

# Para la edad:
filter(hombres, pop_2014 == max(hombres$pop_2014))$AGE

   SEX AGE pop_2010 pop_2014 Cambio  Crecimiento
1  1   23  2151095  2399883   248788 2.77%
2  1   24  2161380  2391398   230018 2.56%
3  1   22  2188228  2367842   179614 1.99%
4  1   21  2241095  2310734    69639 0.77%
5  1   25  2177171  2295836   118665 1.34%
6  1   20  2331846  2269570   -62276 -0.67%
7  1   54  2091677  2242828   151151 1.76%
8  1   26  2102375  2240026   137651 1.60%
9  1   19  2334906  2220790  -114116 -1.24%
10 1   53  2170965  2219617    48652 0.56%
11 1   29  2112348  2217913   105565 1.23%
12 1   50  2290902  2211607   -79295 -0.88%
13 1   28  2135020  2207185    72165 0.83%
14 1   51  2209830  2205405    -4425 -0.05%
15 1   27  2135214  2200429    65215 0.75%
16 1   52  2197222  2198124      902 0.01%
17 1   34  1908761  2192455   283694 3.52%
18 1   44  2074606  2184235   109629 1.30%
19 1   49  2262482  2179993   -82489 -0.92%
20 1   31  2026467  2169725   143258 1.72%

[1] 23

In [6]:
filter(hombres, Cambio > 300000) # baby boomers? Por qué solo 4 filas?

  SEX AGE pop_2010 pop_2014 Cambio Crecimiento
1 1   64  1291843  1661474  369631 6.49%
2 1   65  1272693  1607688  334995 6.02%
3 1   66  1239805  1589127  349322 6.40%
4 1   67  1270148  1653257  383109 6.81%

In [7]:
filter(hombres, AGE > 55 & AGE < 70) # Ver 63-64 tiene 4 filas porque 2014 - 2010 = 4.

   SEX AGE pop_2010 pop_2014 Cambio Crecimiento
1  1   56  1984480  2140722  156242 1.91%
2  1   57  1910028  2110149  200121 2.52%
3  1   58  1838703  2027959  189256 2.48%
4  1   59  1779504  2006900  227396 3.05%
5  1   60  1742232  1914009  171777 2.38%
6  1   61  1691413  1837080  145667 2.09%
7  1   62  1679074  1763504   84430 1.23%
8  1   63  1753914  1701827  -52087 -0.75%
9  1   64  1291843  1661474  369631 6.49%
10 1   65  1272693  1607688  334995 6.02%
11 1   66  1239805  1589127  349322 6.40%
12 1   67  1270148  1653257  383109 6.81%
13 1   68  1105702  1211480  105778 2.31%
14 1   69  1006786  1187554  180768 4.21%

La población sube y luego baja. El fenómeno está descrito por las dos columnas.

# Funciones

In [8]:
spread <- function(valores){
    # intput: valores: vector de números. 
    # output: distancia entre el max y el min de los números.
    
    max(valores) - min(valores)
}

In [9]:
spread(1:100)
spread(c(1,2,5,5,7,8,9,9,9,9,9))

[1] 99

[1] 8

In [10]:
cuarto <- 1/4
cuarto

cuarto*100

dosTercios <- 2/3
dosTercios

round(dosTercios*100, 2)

[1] 0.25

[1] 25

[1] 0.6666667

[1] 66.67

In [11]:
porcentaje <- function(x){
    round(100 * x, 2)
}

In [12]:
porcentaje(1/2)
porcentaje(1/60000)

[1] 50

[1] 0

In [13]:
round(100*1/60000, 2)

[1] 0

In [14]:
porcentaje <- function(x){
    # input: x = número entre 0 y 1.
    # output: escritura en porcentaje de x.
    
    if(x < 0.00005){
        x*100
    }
    else{
        round(100*x, 2)
    }
    
}

In [15]:
porcentaje(1/60000)
porcentaje(1/5)

[1] 0.001666667

[1] 20

Pueden usar cualquier cosas como argunmento

In [16]:
adolescentes.votantes <- function(df){
    #filter(df, AGE == 18 | AGE == 19)
    filter(df, AGE > 15 & AGE < 19 )
}

adolescentes.votantes(hombres)
adolescentes.votantes(mujeres)

  SEX AGE pop_2010 pop_2014 Cambio  Crecimiento
1 1   16  2215032  2130938   -84094 -0.96%
2 1   17  2252838  2138809  -114029 -1.29%
3 1   18  2305733  2165062  -140671 -1.56%

  SEX AGE pop_2010 pop_2014 Cambio  Crecimiento
1 2   16  2098220  2036296   -61924 -0.75%
2 2   17  2123530  2045897   -77633 -0.93%
3 2   18  2185272  2060528  -124744 -1.46%

In [17]:
pop_Simple <- pop_us %>% select(AGE, SEX, 
                      pop_2014=POPESTIMATE2014, 
                      pop_2010=POPESTIMATE2010) %>%
                    mutate(Cambio = pop_2014 - pop_2010, 
                    Crecimiento = porcentaje(pop_2014/pop_2010 - 1))

head(pop_Simple)

Warning message in if (x < 5e-05) {:
“the condition has length > 1 and only the first element will be used”

  AGE SEX pop_2014 pop_2010 Cambio  Crecimiento
1 0   0   3948350  3951330    -2980 -0.07541764
2 1   0   3962123  3957888     4235  0.10700151
3 2   0   3957772  4090862  -133090 -3.25334856
4 3   0   4005190  4111920  -106730 -2.59562443
5 4   0   4003448  4077552   -74104 -1.81736493
6 5   0   4004858  4064653   -59795 -1.47109729