In [1]:
library(dplyr)

pop_us = read.table(file = "../tablas/pop_us.csv", sep = ',', header = T)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [2]:
pop_Simple <- select(pop_us, SEX, 
                             AGE, 
                             pop_2010 = POPESTIMATE2010, 
                             pop_2014 = POPESTIMATE2014)

pop_Simple <- mutate(pop_Simple, Cambio = pop_2014 - pop_2010, 
                     Crecimiento = (pop_2014/pop_2010)^(1/4) - 1)

head(pop_Simple)

  SEX AGE pop_2010 pop_2014 Cambio  Crecimiento
1 0   0   3951330  3948350    -2980 -0.0001885975
2 0   1   3957888  3962123     4235  0.0002673965
3 0   2   4090862  3957772  -133090 -0.0082345253
4 0   3   4111920  4005190  -106730 -0.0065531967
5 0   4   4077552  4003448   -74104 -0.0045747086
6 0   5   4064653  4004858   -59795 -0.0036982078

In [3]:
hombres <- filter(pop_Simple, SEX == 1, AGE != 999)
mujeres <- filter(pop_Simple, SEX == 2, AGE != 999) 
mujeres[1:10, ] # mas niños de 6 años, recesión 2008. https://www.wsj.com/articles/u-s-birthrate-hits-turning-point-1434513662

   SEX AGE pop_2010 pop_2014 Cambio Crecimiento
1  2   0   1932910  1930493   -2417 -0.0003127583
2  2   1   1937556  1938870    1314  0.0001695004
3  2   2   2002177  1935270  -66907 -0.0084610613
4  2   3   2010648  1956572  -54076 -0.0067925992
5  2   4   1993240  1959950  -33290 -0.0042017709
6  2   5   1988080  1961391  -26689 -0.0033731564
7  2   6   1993603  2024024   30421  0.0037931897
8  2   7   1979908  2031760   51852  0.0064839387
9  2   8   1971142  2014402   43260  0.0054420814
10 2   9   2018378  2009560   -8818 -0.0010940076

## Encontrar la edad con la mayoría de mujeres en el 2014.

http://www.wsj.com/articles/u-s-birthrate-hits-turning-point-1434513662

In [4]:
head(arrange(mujeres, desc(pop_2014)))

# la fila:
filter(mujeres, pop_2014 == max(pop_2014))

# Para la edad:
filter(mujeres, pop_2014 == max(pop_2014))

  SEX AGE pop_2010 pop_2014 Cambio Crecimiento
1 2   54  2196798  2331961  135163  0.0150391414
2 2   53  2268457  2316131   47674  0.0052131053
3 2   24  2082209  2301237  219028  0.0253195948
4 2   23  2066126  2298701  232575  0.0270259579
5 2   51  2289164  2283261   -5903 -0.0006452920
6 2   52  2283408  2282051   -1357 -0.0001486049

  SEX AGE pop_2010 pop_2014 Cambio Crecimiento
1 2   54  2196798  2331961  135163 0.01503914

  SEX AGE pop_2010 pop_2014 Cambio Crecimiento
1 2   54  2196798  2331961  135163 0.01503914

In [5]:
head(arrange(mujeres, desc(Crecimiento)))

  SEX AGE pop_2010 pop_2014 Cambio Crecimiento
1 2   100   45058    58468   13410 0.06730018
2 2    64 1414220  1826662  412442 0.06606898
3 2    67 1423561  1832245  408684 0.06512816
4 2    71 1050351  1350392  300041 0.06483263
5 2    66 1381541  1758649  377108 0.06219401
6 2    65 1405839  1776761  370922 0.06028680

In [6]:
arrange(hombres, desc(pop_2014))[1:20,]

   SEX AGE pop_2010 pop_2014 Cambio  Crecimiento
1  1   23  2151095  2399883   248788  0.0277384852
2  1   24  2161380  2391398   230018  0.0256051272
3  1   22  2188228  2367842   179614  0.0199174850
4  1   21  2241095  2310734    69639  0.0076794966
5  1   25  2177171  2295836   118665  0.0133560861
6  1   20  2331846  2269570   -62276 -0.0067446129
7  1   54  2091677  2242828   151151  0.0175958733
8  1   26  2102375  2240026   137651  0.0159813104
9  1   19  2334906  2220790  -114116 -0.0124490230
10 1   53  2170965  2219617    48652  0.0055561005
11 1   29  2112348  2217913   105565  0.0122662556
12 1   50  2290902  2211607   -79295 -0.0087678923
13 1   28  2135020  2207185    72165  0.0083451113
14 1   51  2209830  2205405    -4425 -0.0005009805
15 1   27  2135214  2200429    65215  0.0075497229
16 1   52  2197222  2198124      902  0.0001026138
17 1   34  1908761  2192455   283694  0.0352489146
18 1   44  2074606  2184235   109629  0.0129568207
19 1   49  2262482  2179993   -82489 -0.0092422194
20 1   31  2026467  2169725   143258  0.0172232765

In [7]:
# Para la edad:
filter(hombres, pop_2014 == max(pop_2014))

  SEX AGE pop_2010 pop_2014 Cambio Crecimiento
1 1   23  2151095  2399883  248788 0.02773849

In [8]:
filter(hombres, Cambio > 300000) # baby boomers? Por qué solo 4 filas?

  SEX AGE pop_2010 pop_2014 Cambio Crecimiento
1 1   64  1291843  1661474  369631 0.06492973
2 1   65  1272693  1607688  334995 0.06015540
3 1   66  1239805  1589127  349322 0.06402371
4 1   67  1270148  1653257  383109 0.06812360

In [9]:
filter(hombres, AGE > 55 & AGE < 70) # Ver 63-64 tiene 4 filas porque 2014 - 2010 = 4.

   SEX AGE pop_2010 pop_2014 Cambio Crecimiento
1  1   56  1984480  2140722  156242  0.01912719
2  1   57  1910028  2110149  200121  0.02522302
3  1   58  1838703  2027959  189256  0.02479476
4  1   59  1779504  2006900  227396  0.03052063
5  1   60  1742232  1914009  171777  0.02378673
6  1   61  1691413  1837080  145667  0.02086802
7  1   62  1679074  1763504   84430  0.01234060
8  1   63  1753914  1701827  -52087 -0.00750854
9  1   64  1291843  1661474  369631  0.06492973
10 1   65  1272693  1607688  334995  0.06015540
11 1   66  1239805  1589127  349322  0.06402371
12 1   67  1270148  1653257  383109  0.06812360
13 1   68  1105702  1211480  105778  0.02310342
14 1   69  1006786  1187554  180768  0.04214716

La población sube y luego baja. El fenómeno está descrito por las dos columnas.

# Funciones

In [10]:
spread <- function(valores){
    # intput: valores: vector de números. 
    # output: distancia entre el max y el min de los números.
    
    max(valores) - min(valores)
}

In [11]:
spread(1:100)
spread(c(1,2,5,5,7,8,9,9,9,9,9))

[1] 99

[1] 8

In [12]:
cuarto <- 1/4
cuarto

cuarto*100

dosTercios <- 2/3
dosTercios

round(dosTercios*100, 2)

[1] 0.25

[1] 25

[1] 0.6666667

[1] 66.67

In [13]:
porcentaje <- function(x){
    round(100 * x, 2)
}

In [14]:
porcentaje(1/2)
porcentaje(1/60000)

[1] 50

[1] 0

In [15]:
round(100*1/60000, 2)

[1] 0

In [16]:
porcentaje <- function(x){
    # input: x = número entre 0 y 1.
    # output: escritura en porcentaje de x.
    
    if(x < 0.00005){
        x*100
    }
    else{
        round(100*x, 2)
    }
    
}

In [17]:
porcentaje(1/60000)
porcentaje(1/5)

[1] 0.001666667

[1] 20

Pueden usar cualquier cosas como argunmento

In [18]:
adolescentes.votantes <- function(df){
    #filter(df, AGE == 18 | AGE == 19)
    filter(df, AGE > 15 & AGE < 19 )
}

adolescentes.votantes(hombres)
adolescentes.votantes(mujeres)

  SEX AGE pop_2010 pop_2014 Cambio  Crecimiento
1 1   16  2215032  2130938   -84094 -0.009629485
2 1   17  2252838  2138809  -114029 -0.012901459
3 1   18  2305733  2165062  -140671 -0.015614222

  SEX AGE pop_2010 pop_2014 Cambio  Crecimiento
1 2   16  2098220  2036296   -61924 -0.007461249
2 2   17  2123530  2045897   -77633 -0.009267657
3 2   18  2185272  2060528  -124744 -0.014587074

In [19]:
pop_Simple <- pop_us %>% select(AGE, SEX, 
                      pop_2014=POPESTIMATE2014, 
                      pop_2010=POPESTIMATE2010) %>%
                    mutate(Cambio = pop_2014 - pop_2010, 
                    Crecimiento = porcentaje(pop_2014/pop_2010 - 1))

head(pop_Simple)

Warning message in if (x < 5e-05) {:
"the condition has length > 1 and only the first element will be used"

  AGE SEX pop_2014 pop_2010 Cambio  Crecimiento
1 0   0   3948350  3951330    -2980 -0.07541764
2 1   0   3962123  3957888     4235  0.10700151
3 2   0   3957772  4090862  -133090 -3.25334856
4 3   0   4005190  4111920  -106730 -2.59562443
5 4   0   4003448  4077552   -74104 -1.81736493
6 5   0   4004858  4064653   -59795 -1.47109729