In [2]:
# https://www.r-bloggers.com/more-tidyverse-using-dplyr-functions/
library(tidyverse)
library(gapminder)

In [25]:
gapminder %>% filter(c(lifeExp < 30))

  country     continent year lifeExp pop     gdpPercap
1 Afghanistan Asia      1952 28.801  8425333 779.4453
2 Rwanda      Africa    1992 23.599  7290203 737.0686

In [6]:
#pregunta 1
gapminder %>% arrange(desc(lifeExp)) %>% head()
gapminder %>% arrange(lifeExp) %>% head()

  country          continent year lifeExp pop       gdpPercap
1 Japan            Asia      2007 82.603  127467972 31656.07
2 Hong Kong, China Asia      2007 82.208    6980412 39724.98
3 Japan            Asia      2002 82.000  127065841 28604.59
4 Iceland          Europe    2007 81.757     301931 36180.79
5 Switzerland      Europe    2007 81.701    7554661 37506.42
6 Hong Kong, China Asia      2002 81.495    6762476 30209.02

  country      continent year lifeExp pop     gdpPercap
1 Rwanda       Africa    1992 23.599  7290203  737.0686
2 Afghanistan  Asia      1952 28.801  8425333  779.4453
3 Gambia       Africa    1952 30.000   284320  485.2307
4 Angola       Africa    1952 30.015  4232095 3520.6103
5 Sierra Leone Africa    1952 30.331  2143249  879.7877
6 Afghanistan  Asia      1957 30.332  9240934  820.8530

In [18]:
gapminder %>% filter(lifeExp<30) %>% group_by(country) %>% summarize(n=n())

  country     n
1 Afghanistan 1
2 Rwanda      1

In [13]:
# pregunta 2

subset(gapminder, gapminder$lifeExp <30)
gapminder %>% filter(lifeExp<30)

  country     continent year lifeExp pop     gdpPercap
1 Afghanistan Asia      1952 28.801  8425333 779.4453
2 Rwanda      Africa    1992 23.599  7290203 737.0686

  country     continent year lifeExp pop     gdpPercap
1 Afghanistan Asia      1952 28.801  8425333 779.4453
2 Rwanda      Africa    1992 23.599  7290203 737.0686

In [14]:
# pregunta 3

gapminder %>% mutate(GPD = gdpPercap*pop) %>% head()

  country     continent year lifeExp pop      gdpPercap GPD
1 Afghanistan Asia      1952 28.801   8425333 779.4453   6567086330
2 Afghanistan Asia      1957 30.332   9240934 820.8530   7585448670
3 Afghanistan Asia      1962 31.997  10267083 853.1007   8758855797
4 Afghanistan Asia      1967 34.020  11537966 836.1971   9648014150
5 Afghanistan Asia      1972 36.088  13079460 739.9811   9678553274
6 Afghanistan Asia      1977 38.438  14880372 786.1134  11697659231

In [16]:
# pregunta 4

gapminder %>% group_by(continent) %>% summarize(lifeExpPromedio = mean(lifeExp))
#gapminder %>% group_by(continent, year) %>% summarize(lifeExpPromedio = mean(lifeExp))

  continent lifeExpPromedio
1 Africa    48.86533
2 Americas  64.65874
3 Asia      60.06490
4 Europe    71.90369
5 Oceania   74.32621

In [9]:
# pregunta 5

gapminder %>% filter(continent == "Americas") %>% arrange(lifeExp) %>% head()
gapminder %>% filter(continent == "Americas") %>% arrange(gdpPercap) %>% head()

  country   continent year lifeExp pop     gdpPercap
1 Haiti     Americas  1952 37.579  3201488 1840.367
2 Bolivia   Americas  1952 40.414  2883315 2677.326
3 Haiti     Americas  1957 40.696  3507701 1726.888
4 Bolivia   Americas  1957 41.890  3211738 2127.686
5 Honduras  Americas  1952 41.912  1517453 2194.926
6 Guatemala Americas  1952 42.023  3146381 2428.238

  country            continent year lifeExp pop     gdpPercap
1 Haiti              Americas  2007 60.916  8502814 1201.637
2 Haiti              Americas  2002 58.137  7607651 1270.365
3 Haiti              Americas  1997 56.671  6913545 1341.727
4 Dominican Republic Americas  1952 45.928  2491346 1397.717
5 Haiti              Americas  1967 46.243  4318137 1452.058
6 Haiti              Americas  1992 55.089  6326682 1456.310

In [11]:
gapminder %>% filter(continent == "Americas", year == 2007) %>% arrange(lifeExp) %>% head()
gapminder %>% filter(continent == "Americas", year == 2007) %>% arrange(gdpPercap) %>% head()

  country             continent year lifeExp pop      gdpPercap
1 Haiti               Americas  2007 60.916   8502814  1201.637
2 Bolivia             Americas  2007 65.554   9119152  3822.137
3 Trinidad and Tobago Americas  2007 69.819   1056608 18008.509
4 Honduras            Americas  2007 70.198   7483763  3548.331
5 Guatemala           Americas  2007 70.259  12572928  5186.050
6 Peru                Americas  2007 71.421  28674757  7408.906

  country   continent year lifeExp pop      gdpPercap
1 Haiti     Americas  2007 60.916   8502814 1201.637
2 Nicaragua Americas  2007 72.899   5675356 2749.321
3 Honduras  Americas  2007 70.198   7483763 3548.331
4 Bolivia   Americas  2007 65.554   9119152 3822.137
5 Paraguay  Americas  2007 71.752   6667147 4172.838
6 Guatemala Americas  2007 70.259  12572928 5186.050